<template>
  <button
    class="
      w-full
      py-3
      rounded-xl
      cursor-pointer
      text-center
      bg-gradient-to-r
      from-secondary
      hover:from-secondaryHover
      to-primary
      hover:to-primaryHover
      tracking-0.84px
      text-skyBlue
      font-semibold
      focus:from-secondaryActive focus:to-primaryActive
    "
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: () => '',
    },
  },
}
</script>

<style lang="scss" scoped>
</style>