<template>
  <div class="bg-gradient-to-r from-lightBlue to-skyBlue">
    <div
      class="w-full h-5px opacity-100 bg-b bg-gradient-to-r from-secondary to-primary"
    />
    <div
      class="bg-white h-67px rounded-b-xl flex justify-end items-center shadow-bottomRounded"
    >
      <nuxt-link to="/" class="mr-17px text-primary text-sm font-semibold">
        Login
      </nuxt-link>
    </div>
    <div
      class="relative w-full bg-heroPoster bg-contain bg-no-repeat bg-center h-screen"
    >
      <div class="absolute top-0 left-0 w-full">
        <p
          class="text-center text-blackish font-medium tracking-1.26px text-42px p-5"
        >
          Deine Job website
        </p>
      </div>
    </div>
    <div class="bg-white topRounded rounded-t-xl p-5 h-32 border-b-0.5px border-opacity-5 border-lightGray">
      <PrimaryButton text="Kostenlos Registrieren" />
    </div>
    <div class="bg-white p-5 flex flex-nowrap overflow-auto no-scrollbar">
      <button class="text-center tracking-0.84px text-secondary hover:text-skyBlue py-3 w-full px-10 border-2 border-borderGray focus:bg-skyBlueActive focus:text-white border-r-0 rounded-l-xl" @click="screen = 1">Arbeitnehmer</button>
      <button class="text-center tracking-0.84px text-secondary hover:text-skyBlue py-3 w-full px-10 border-2 border-borderGray focus:bg-skyBlueActive focus:text-white border-r-0" @click="screen = 2">Arbeitgeber</button>
      <button class="text-center tracking-0.84px text-secondary hover:text-skyBlue py-3 w-full px-10 border-2 border-borderGray focus:bg-skyBlueActive focus:text-white rounded-r-xl" @click="screen = 3">Arbeitnehmer</button>
    </div>
    <div v-if="screen == 1" class="bg-white">
      <p class="text-center text-blackish font-medium text-2xl p-5">
        Drei einfache Schritte<br />
        zu deinem neuen Job
      </p>
      <div class="relative py-5 pr-5">
        <div
          class="absolute -left-10 bottom-0 w-64 h-64 z-10 bg-lightestGray rounded-50%"
        />
        <div class="relative z-20">
          <div class="relative flex justify-end items-center">
            <img src="@/assets/img/home/1.svg" />
          </div>
          <div class="flex justify-center items-center">
            <div>
              <p class="text-darkGray text-9xl">1.</p>
            </div>
            <div>
              <p class="text-darkGray text-base">Erstellen dein Lebenslauf</p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative z-20">
        <div class="w-full h-20 -mt-14">
          <img src="@/assets/img/home/wave-top.svg" />
        </div>
        <div class="relative p-5">
          <div class="absolute left-0 top-0 w-full h-full z-10 bg-skyBlue" />
          <div class="relative z-20">
            <div class="flex justify-center items-center">
              <div class="ml-6">
                <p class="text-darkGray text-9xl">2.</p>
              </div>
              <div>
                <p class="text-darkGray text-base">
                  Mit nur einem Klick bewerben
                </p>
              </div>
            </div>
            <div class="relative flex justify-end items-center mr-10 mt-5">
              <img src="@/assets/img/home/2.svg" />
            </div>
          </div>
        </div>
        <div class="w-full h-20 z-20">
          <img src="@/assets/img/home/wave-bottom.svg" />
        </div>
      </div>
      <div class="relative p-5 mb-32 -mt-16 z-10">
        <div
          class="absolute -left-10 top-0 w-80 h-80 z-10 bg-lightestGray rounded-50%"
        />
        <div class="relative z-20">
          <div class="flex justify-center items-center mt-5">
            <div class="ml-6">
              <p class="text-darkGray text-9xl px-5">3.</p>
            </div>
            <div>
              <p class="text-darkGray text-base">
                Mit nur einem Klick bewerben
              </p>
            </div>
          </div>
          <div class="relative flex justify-end items-center">
            <img src="@/assets/img/home/3.svg" />
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="screen == 2" class="bg-white">
      <p class="text-center text-blackish font-medium text-2xl p-5">
        Drei einfache Schritte<br />
        zu deinem neuen Job
      </p>
      <div class="relative py-5 pr-5">
        <div
          class="absolute -left-10 bottom-0 w-64 h-64 z-10 bg-lightestGray rounded-50%"
        />
        <div class="relative z-20">
          <div class="relative flex justify-end items-center">
            <img src="@/assets/img/home/1.svg" />
          </div>
          <div class="flex justify-center items-center">
            <div>
              <p class="text-darkGray text-9xl">1.</p>
            </div>
            <div>
              <p class="text-darkGray text-base">Erstellen dein Lebenslauf</p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative z-20">
        <div class="w-full h-20 -mt-14">
          <img src="@/assets/img/home/wave-top.svg" />
        </div>
        <div class="relative p-5">
          <div class="absolute left-0 top-0 w-full h-full z-10 bg-skyBlue" />
          <div class="relative z-20">
            <div class="flex justify-center items-center">
              <div class="ml-6">
                <p class="text-darkGray text-9xl">2.</p>
              </div>
              <div>
                <p class="text-darkGray text-base">
                  Mit nur einem Klick bewerben
                </p>
              </div>
            </div>
            <div class="relative flex justify-end items-center mr-10 mt-5">
              <img src="@/assets/img/home/4.svg" />
            </div>
          </div>
        </div>
        <div class="w-full h-20 z-20">
          <img src="@/assets/img/home/wave-bottom.svg" />
        </div>
      </div>
      <div class="relative p-5 mb-32 -mt-16 z-10">
        <div
          class="absolute -left-10 top-0 w-80 h-80 z-10 bg-lightestGray rounded-50%"
        />
        <div class="relative z-20">
          <div class="flex justify-center items-center mt-5">
            <div class="ml-6">
              <p class="text-darkGray text-9xl px-5">3.</p>
            </div>
            <div>
              <p class="text-darkGray text-base">
                Mit nur einem Klick bewerben
              </p>
            </div>
          </div>
          <div class="relative flex justify-end items-center">
            <img src="@/assets/img/home/5.svg" />
          </div>
        </div>
      </div>
    </div>
    <div v-else class="bg-white">
      <p class="text-center text-blackish font-medium text-2xl p-5">
        Drei einfache Schritte<br />
        zu deinem neuen Job
      </p>
      <div class="relative py-5 pr-5">
        <div
          class="absolute -left-10 bottom-0 w-64 h-64 z-10 bg-lightestGray rounded-50%"
        />
        <div class="relative z-20">
          <div class="relative flex justify-end items-center">
            <img src="@/assets/img/home/1.svg" />
          </div>
          <div class="flex justify-center items-center">
            <div>
              <p class="text-darkGray text-9xl">1.</p>
            </div>
            <div>
              <p class="text-darkGray text-base">Erstellen dein Lebenslauf</p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative z-20">
        <div class="w-full h-20 -mt-14">
          <img src="@/assets/img/home/wave-top.svg" />
        </div>
        <div class="relative p-5">
          <div class="absolute left-0 top-0 w-full h-full z-10 bg-skyBlue" />
          <div class="relative z-20">
            <div class="flex justify-center items-center">
              <div class="ml-6">
                <p class="text-darkGray text-9xl">2.</p>
              </div>
              <div>
                <p class="text-darkGray text-base">
                  Mit nur einem Klick bewerben
                </p>
              </div>
            </div>
            <div class="relative flex justify-end items-center mr-10 mt-5">
              <img src="@/assets/img/home/6.svg" />
            </div>
          </div>
        </div>
        <div class="w-full h-20 z-20">
          <img src="@/assets/img/home/wave-bottom.svg" />
        </div>
      </div>
      <div class="relative p-5 mb-32 -mt-16 z-10">
        <div
          class="absolute -left-10 top-0 w-80 h-80 z-10 bg-lightestGray rounded-50%"
        />
        <div class="relative z-20">
          <div class="flex justify-center items-center mt-5">
            <div class="ml-6">
              <p class="text-darkGray text-9xl px-5">3.</p>
            </div>
            <div>
              <p class="text-darkGray text-base">
                Mit nur einem Klick bewerben
              </p>
            </div>
          </div>
          <div class="relative flex justify-end items-center">
            <img src="@/assets/img/home/7.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      screen: 1
    }
  }
}
</script>

<style lang="scss" scoped>
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
</style>
